h1 {
    text-align: center;
    color: white;
    background-color: darkslategray;
    
}

section{
    background-color: rgba(211, 211, 211, 0.589);
    border: 2px black;
    
}

#fiveDay{
    margin-left: auto;
    margin-right: auto;

    
}